<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminSignup</title>
</head>
<body>
    <form action="/details/get-data" method="post">
        Name : <input type="text" name="name"><br>
        Email : <input type="email" name="email"><br>
        Username : <input type="text" name="username"><br>
        Password : <input type="password" name="password"><br>
        Code : <input type="text" name="USER_CODE"><br>
        <button type="submit">Submit</button><br>
        <button type="reset">Reset</button>
    </form>
</body>
</html>