<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Function</title>
    <style>
        a{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>
    <a th:href="@{/add-students}">add</a>
    <a th:href="@{/viewData}">view data</a>
    <a href="">send email</a>
    <a href="">viewdata</a>
    <!-- <a th:href="@{/csv}">your csv</a> -->
    <a th:href="@{/csv}">Download Attendence</a>
    <a href="">data</a>
    <a th:href="@{/day}">get the day of attendance</a>
    </h1>
</body>
</html>