<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Students</title>
    <link rel="stylesheet" th:href="@{/CSS/cos.css}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <form action="/take-attendence" method="post">
      <div>
        <input
          type="date"
          class="mb-3"
          placeholder="dd-mm-year"
          name="date"
          required
        />
        <br />
        <div class="">
          <ul th:each="item : ${students}">
            <li>
              <input
                type="checkbox"
                class=""
                name="SelectedStudents"
                th:value="${item.getId()}"
              />
              <input type="hidden" name="students" th:value="${item.getId()}" />
              <span th:text="${item.getName()}"></span><br />
            </li>
          </ul>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary">take</button>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
